.footer-container {
  background-color: #193D40;
  color: #f8f8f3;
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  padding: 1 rem 2 rem;
  border-top: 1px solid #ccc;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 175px;
  box-sizing: border-box;
  font-family: 'Poppins';
  overflow: hidden;
}

.footer-left {
  width: 13px;
  height: 13px;
}

.footer-left img {
  width: 140px;
  height: auto;
}

.footer-right {
  display: flex;
  flex-direction: column;
  width: 100
}

.footer-left img {
  width: 140px;
  height: auto;
}

.footer-right{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer-title {
  font-size: 30px;
  text-align: left;
  margin: 0;
  transform: translateX(-3rem);
}

.contact-image img {
  width: 20px;
  height: auto;
  background: none;
}

.footer-links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  gap: 2rem;
  padding-right: 2rem;
}

.footer-column p {
  margin: 0.1 rem 0;
  font-size: 16px;
}

.contact-image {
  width: 30px;
  height: auto;
}

.social-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1 rem; 
}

.footer-column:last-child {
  margin-left: 250px;
}

.footer-links .footer-column:last-child {
  transform:  translateX(20rem);
}

.footer-links .footer-column:last-child {
  transform: translateX(20rem);
}