html,
body,
#root {
  height: 100%;
  margin: 0;
}

.contact-container {
  font-family: "Poppins";
  font-size: 16px;
  color: #193d40;
}

.full-page {
  background-color: #f8f8f3;
  min-height: 100vh;
  min-width: 600px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  padding-top: 120px;
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: column;
}

.main-text {
  font-size: 100px;
  color: #193d40;
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
  align-items: center;
}

.semi-main-text {
  font-size: 50px;
  color: #193d40;
  font-family: "Poppins";
  text-align: center;
  align-items: center;
}

.semi-semi-main-text {
  font-size: 30px;
  color: #193d40;
  font-family: "Poppins";
  align-items: center;
}

.button {
  color: white;
  font-family: "Poppins";
  background: #dfceb9;
  font-size: 24px;
  border-radius: 3px;
  border-color: white;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  margin-bottom: 2rem;
}
.button:hover {
  transform: translateY(-2px);
}

.contact-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
  gap: 4rem;
}

.contact-image img {
  width: 1500px;
  height: auto;
  flex-shrink: 1;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.semi-main-text {
  max-width: 500px;
  flex-shrink: 1;
}

.contact-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-image img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.input-boxes input {
  background: #dfceb9;
  color: #f8f8f8;
  font-family: "Poppins";
  font-size: 20px;
  width: 200px;
  height: 25px;
  border-radius: 3px;
  border-color: white;
}

.contact-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  gap: 2rem;
}

.form-fields p {
  font-size: 22px;
  margin: 0.5rem 0 0.2rem;
  font-weight: 500;
}

.centerB{
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-fields input,
.form-fields textarea {
  font-family: "Poppins";
  font-size: 20px;
  width: 350px;
  height: 40px;
  border-radius: 6px;
  border: 2px solid black;
  padding: 0.4rem 0.8rem;
}

.form-fields textarea {
  min-height: 120px;
  resize: vertical;
}